*{
	margin: 0;
	padding:0;
}
.slider{
	background-image: url(../image/croatia.jpg);
	/*background-repeat: no-repeat;*/
	background-position: center;
}
.pragraph-bg{
	background-color: white;
}
.pragraph-bg h5{
	background-color: white;
	color: black;
}
.pragraph-bg p{
	background-color: white;
	
	color: black;
}